<!doctype html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="/index.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
<div class="container">
    <div class="row">

        <form method="post" action="/upload" enctype="multipart/form-data">

            <input type="file" name="uploadFile">

            <button type="submit">Submit</button>

        </form>

    </div>
</div>
</body>
</html>