<!doctype html>
<html lang="ru">
<head>

    <script src="js/jquery.min.js"></script>
    <script src="js/index.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web-App | Main</title>
</head>
<body>

<div class="content-wrapper">
    <div class="text-wrapper">
        <h2 class="app-text">Перший веб-додаток з використанням методу контекстного дослідження</h2>
        <h2 class="process-text">Запущен процесс...</h2>
    </div>
    <div class="form-wrapper">
        <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
            <label for="apply"><input type="file" name="document" id="apply" accept=".html">Завантажити документ</label>
            <p class="form-text">Тільки *.html підтримуються</p>
        </form>
    </div>
</div>



</body>
</html>