<!-- Modal -->
<div class="modal fade" id="json-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">JSON Viewer</h5>
            </div>
            <div class="modal-body">
                <div id="json-renderer"></div>
            </div>
        </div>
    </div>
</div>