p {
  margin: 0;
  padding: 0;
}

.filter-form {
  min-width: 70vw;
  background: #212121;
  border: 1px solid #212121;
  color: gainsboro;
  margin-bottom: 50px;
}

body {
  background-color: black;
}

.body-result, .body-index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-result {
  padding-top: 50px;
  padding-bottom: 150px;
}

.body-index {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  label {
    cursor: pointer;
    display: block;
    width: 60vw;
    max-width: 300px;
    margin: 0 auto;
    background-color: slateblue;
    border-radius: 2px;
    font-size: 1em;
    line-height: 2.5em;
    text-align: center;
  }

  label:hover {
    background-color: cornflowerblue;
  }

  label:active {
    background-color: mediumaquamarine;
  }

  input {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

}

.content-wrapper {

  .process-text {
    display: none;
  }

  min-height: 135px;
  .text-wrapper {
    margin-bottom: 15px;
    h2 {
      min-width: 671px;
      text-align: center;
      color: #dbdbdb;
    }
  }

  .form-wrapper {
    width: 50%;
    margin: 0 auto;
    p.form-text {
      font-size: 10px;
      text-align: right;
      color: #8f8f8f;
      margin-top: 10px;
      margin-right: 25%;
    }
  }
}

.module-block {
  h1,h2,h3,h4 {
    text-align: center;
    color: white;
  }
}

.show-json {
  text-decoration: none;
  color: #8b8b8b;
  &:hover {
    color: white;
  }
}

.module-block-item {
  display: flex;

  .module-block {
    margin-left: 15px;
    display: flex;
    flex-direction: column;

    min-height: 700px;
    .module-text {
      text-align: center;
      margin-top: auto;
      color: white;
    }
  }
}

.semantic-module {
  justify-content: center;
}